./GeopandasInstaller/GDAL-3.4.2-cp39-cp39-win_amd64.whl
./GeopandasInstaller/Fiona-1.8.21-cp39-cp39-win_amd64.whl
./GeopandasInstaller/pyproj-3.3.0-cp39-cp39-win_amd64.whl
./GeopandasInstaller/Rtree-1.0.0-cp39-cp39-win_amd64.whl
./GeopandasInstaller/Shapely-1.8.1.post1-cp39-cp39-win_amd64.whl
geopandas==0.10.2
Flask==2.1.1
geopy==2.2.0
networkx==2.8
numpy==1.22.3
pandas==1.4.2
torch=1.10