<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Welcome</title>
</head>
<body>
    <header id="showcase">
        <h1>Welcome!</h1>
        <p>Supply Chain Mapping with Deep Belief Networks - Team 042</p>
        <form method="post" action="."> 
            <input type="submit" value="Show Visualization" href="#" class="button" id="button">
        </form>
      </header>
</body>
</html>

